In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('./data/unc.csv')

In [7]:
df['Tipo de delito'].unique()

array(['Homicidio', 'Lesiones', 'Feminicidio',
       'Otros delitos que atentan contra la vida y la integridad corporal',
       'Secuestro', 'Tráfico de menores', 'Rapto',
       'Otros delitos que atentan contra la libertad personal',
       'Extorsión', 'Corrupción de menores', 'Trata de personas',
       'Otros delitos contra la sociedad', 'Aborto'], dtype=object)

In [10]:
df = df[df['Año']==2016]
df = df[df['Tipo de delito']=='Homicidio']
df.groupby('Entidad').sum().reset_index()[['Total', 'Entidad']]

     Total                          Entidad
0    268.0                   Aguascalientes
1   1600.0                  Baja California
2    325.0              Baja California Sur
3    184.0                         Campeche
4   1525.0                          Chiapas
5   1838.0                        Chihuahua
6   1684.0                 Ciudad de México
7    532.0             Coahuila de Zaragoza
8    690.0                           Colima
9    499.0                          Durango
10  3102.0                       Guanajuato
11  2844.0                         Guerrero
12   717.0                          Hidalgo
13  2285.0                          Jalisco
14  2686.0              Michoacán de Ocampo
15   916.0                          Morelos
16  3054.0                           México
17   100.0                          Nayarit
18  1408.0                       Nuevo León
19  1745.0                           Oaxaca
20  1374.0                           Puebla
21   465.0                        Querétaro
22   278.0                     Quintana Roo
23   553.0                  San Luis Potosí
24  1767.0                          Sinaloa
25  1116.0                           Sonora
26   736.0                          Tabasco
27  1847.0                       Tamaulipas
28   386.0                         Tlaxcala
29  2140.0  Veracruz de Ignacio de la Llave
30   110.0                          Yucatán
31   746.0                        Zacatecas